nulltype == 2.3.1
attrs == 21.4.0
certifi == 2021.10.8
charset-normalizer == 2.0.10
click == 8.0.3
clickclick == 20.10.2
connexion == 2.6.0
Flask == 2.0.2
idna == 3.3
inflection == 0.5.1
itsdangerous == 2.0.1
Jinja2 == 3.0.3
jsonschema == 4.4.0
MarkupSafe == 2.0.1
openapi-schema-validator == 0.2.0
openapi-spec-validator == 0.3.1
pip == 21.2.4
pyrsistent == 0.18.0
python-dateutil == 2.6.0
PyYAML == 6.0
requests == 2.27.1
setuptools == 57.5.0
six == 1.16.0
timeout-decorator == 0.4.1
urllib3 == 1.26.8
Werkzeug == 2.0.2
wheel == 0.37.0
